@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Open_Sans";
    src: url("./_fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.woff2") format("woff2 supports variations"),
      url("./_fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Open_Sans";
    src: url("./_fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.woff") format("woff supports variations"),
      url("./_fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.woff") format("woff-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Open_Sans";
    src: url("./_fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype supports variations"),
      url("./_fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype-variations");
    font-weight: 300 700;
    font-display: swap;
  }

  @font-face {
    font-family: "Open_Sans";
    src: url("./_fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.woff2") format("woff2 supports variations"),
      url("./_fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.woff2") format("woff2-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Open_Sans";
    src: url("./_fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.woff") format("woff supports variations"),
      url("./_fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.woff") format("woff-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Open_Sans";
    src: url("./_fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype supports variations"),
      url("./_fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype-variations");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Ovo";
    src: url("./_fonts/Ovo/Ovo-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Ovo";
    src: url("./_fonts/Ovo/Ovo-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Ovo";
    src: url("./_fonts/Ovo/Ovo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }
}

@layer components {

  * {
    font-family: "Open_Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #1E1E1E;
    text-align: justify;
  }

  body {
    background-color: #fff;
  }

  h1,
  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #0C50BE;
    text-align: center;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.125rem;
    font-weight: 500;
  }

  p,
  ul,
  a {
    font-size: 1rem;
  }

  ul {
    list-style-type: disc;
    margin-left: 2rem;
  }

  ul>ul {
    list-style-type: square;
    margin-left: 1rem;
  }

  a {
    color: #3366CC;
  }

  a:hover {
    color: #F27C27;
  }

}